body {
  padding: 0;
  margin: 0;
  background-color: white;
  width: 100%;
  height: 100%;

}

html {
  width: 100%;
  height: 100%;
}

.back {
	margin-top: 1%;
	margin-left: 1%;
	font-size: 20px;
	font-family: Arial;
	color: black;
	text-decoration: none;
	position: absolute;
	font-weight: bold;
}

.heading1 {
	position: absolute;
	font-size: 30px;
	font-family: Arial;
	font-weight: bold;
	color: black;
	width: 30%;
	margin-left: 3%;
	margin-top: 45%;
	line-height: 2;
}

.posterone {
margin-left: 2%;
margin-top: 7%;
width: 30%;
height: 30%;
position: relative;
}

.bg {
	margin-top: 70%;
	margin-left: 10%;
	width: 20%;
	height: 20%;
}

.videos {
	font-size: 30px;
	font-family: Arial;
	color: black;
	position: fixed;
	background-color: white;
	margin-left: 10%;
	margin-top: 3%;
	text-decoration: none;
}

.mainp {
	position: absolute;
	font-size: 20px;
	font-family: Arial;
	color: black;
	width: 50%;
	margin-left: 40%;
	line-height: 2;
}

.quote1 {
	position: absolute;
	font-size: 20px;
	font-family: Arial;
	font-weight: bold;
	color: black;
	width: 30%;
	margin-left: 3%;
	margin-top: 50%;
	line-height: 2;
}

.quote2 {
	position: absolute;
	font-size: 20px;
	font-family: Arial;
	font-weight: bold;
	color: black;
	width: 30%;
	margin-left: 3%;
	margin-top: 65%;
	line-height: 2;
}

.quote3 {
	position: absolute;
	font-size: 20px;
	font-family: Arial;
	font-weight: bold;
	color: black;
	width: 30%;
	margin-left: 3%;
	margin-top: 90%;
	line-height: 2;
}