body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

.gridcontainer {
    cursor: pointer;
  margin-top: 0%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  position: relative;
  width: 80%;
  height: 97%;
}

img {
  margin-left: 40%;
  height: 90%;
  width: 80%;
}

img:hover {
  filter: invert(100%);
}
.description {
  font-size: 50px;
  font-family: 'Abril Fatface', cursive;
  text-align: left;
  margin-left: 30%;
  text-transform: uppercase;
}

.playbutton {
  font-family: 'Abril Fatface', cursive;
  top: 2%;
  left: 2%;
  position: absolute;
  width: 13%;
  height: 3%;
  text-decoration: none;
  color: black;
  background-color: white;
  border-style: double;
  text-align: center;
}

.playbutton:hover {
  filter: invert(100%);
}
